tactics-android/.classpath
tactics-android/.project
tactics-android/.settings/
tactics-android/assets/
tactics-android/bin/
tactics-android/gen/
tactics-android/libs/
tactics-android/res/
tactics-desktop/.classpath
tactics-desktop/.project
tactics-desktop/.settings/
tactics-desktop/bin/
tactics-desktop/libs/
tactics-html/.classpath
tactics-html/.project
tactics-html/.settings/
tactics-html/war/
tactics/.classpath
tactics/.project
tactics/.settings/
tactics/bin/
tactics/libs/
tactics-android/AndroidManifest.xml
tactics-android/proguard.cfg
tactics-android/project.properties
